{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"plugins": [
		"@typescript-eslint",
		"prettier"
	],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended",
		"prettier"
	],
	"rules": {
		"no-console": 1,       // 1 means warning
		"endOfLine": 0, // 0 means nothing
		"prettier/prettier": 1 // 2 means error
	}
}